body {
	background-color:rgba(118, 219, 126, 0.401);
	font-size: 14px;
	font-family: 'Times New Roman', Times, serif;
	color: #333333;
}

#header {
	position: absolute;
	top: 10px;
	left: 3px;
	right: 10px;
	height: 220px;
	bottom: 120px;
	border-bottom: 1px solid #999999;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
}

#navigation {
	position: absolute;
	top: 230px;
	left: 9px;
	width: 140px;
	bottom: 0;
	border-right: 1px solid #999999;
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
	height: 120%;
}

#mainbody {
	position: absolute;
	top: 220px;
	left: 165px;
	right: 10px;
	bottom: 40px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
}

#photo {
	float: left;
	margin-right:15px;
	transition: width 2s, height 2s, transform 2s;
	-moz-transition: width 2s, height 2s, -moz-transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	-o-transition: width 2s, height 2s,-o-transform 2s;
}

#photo:hover {
	height: 250px;
	width: 250px;
	transform: rotate(360deg);
	-ms-transform: rotate(360deg); /* IE 9 */
	-webkit-transform: rotate(360deg); /* Safari and Chrome */
	-o-transform: rotate(360deg); /* Opera */
	-moz-transform: rotate(360deg); /* Firefox */
}


#info {
	position: absolute;
	left: 155px;
	top: 5px;
	text-align: center;
}

h1 {color: #242251;
	font-family: 'Times New Roman', Times, serif;
	font-size: 60px;
}

p {
	color: #666666;
	text-align: justify;
	line-height: 1.0;
	font-size: 20px;
}

p.contact {color: black;}

.subHeading {font-weight: bold;}

a:link {
	color: #242251; 
	text-decoration: none;
	font-weight: bold; 
	text-shadow: 2px 2px 2px #CCCCCC; 
	line-height: 2.0;
}
a:hover {text-decoration: underline;}
a:visited {color: #5D4157;}

.careerInterests {
	font-weight: normal; 
	font-family:'Times New Roman', Times, serif
}
.resumeHeadings {
	font-weight: bold; 
	font-family:'Times New Roman', Times, serif
}